body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background-color: rgb(246, 231, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.genre {
  grid-row: 1;
  padding: 7px;
  border: 3px solid black;
  border-radius: 5px;
  width: 180px;
    height: 20px;
    text-align: center;
    
  }

  .rows{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
  
}
.serv ul li {
  flex: 0 0 33.333333%;
}

  .cards{
    border: 3px solid black ;
    padding: 1em;
    width: 50%;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
  }

  .photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 50%;
    width: 300px;
    height: 400px;
  }

  .name{
    font-size: 22px;
  }
  .city{
    font-size: 14px;
    font-style: italic;
    
  }
  .socials{
    font-size: 14px;
    font-style: italic;
    
  }

  .genrecont {
    justify-content: space-evenly;
    display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding: 1em;
  }

  .cardcont {
    justify-content: center;
    display: flex;
      align-items: center;
      border: 3px solid black;
      border-radius: 5px;
      width: 500px;
        height: 200px;
        text-align: center;
        font-size: 14px;
        background-color: white;
        
  }
