body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background-color: rgb(246, 231, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.genre {
  grid-row: 1;
  padding: 7px;
  border: 3px solid black;
  border-radius: 5px;
  width: 180px;
    height: 20px;
    text-align: center;
    
  }

  .rows{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 12em;
    column-gap: 5em;
  
}
.serv ul li {
  flex: 0 0 33.333333%;
}

  .cards{
    border: 3px solid black ;
    padding: 1em;
    width: 50%;
    width: 25em;
    height: 29em;
    background-color: white;
    border-radius: 30px;
  }

  .photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 50%;
    width: 300px;
    height: 400px;
  }

  .name{
    font-size: 20px;
    position: absolute;
    top: 1px; left: 33px;
    display: flex;
  }


  .city{
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 0.6;
    position: relative;
    
    
    
  }

  .genrecont {
    justify-content: space-evenly;
    display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding: 1em;
  }

  .cardcont {
      border: 3px solid black;
      border-radius: 30px;
      width: 26em;
        height: 7em;
        background-color: white;
        padding: 8px;
        position: relative;
        top: 10px; left: -17px;
        
  }

  .nav-bar {
    background-color: #ffffff;
    color: #000000;
    padding: 3px;
    letter-spacing: 2px;
    height: 4em;
  }
  .nav-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    padding: 5px;
    font-size: 23px;
  align-items: center;
  position: relative;
  top: 10px; left: 755px;
  }
    a:hover {
      background-color: rgb(178, 154, 209);
    }
